tensorflow-gpu==2.6.4
beautifulsoup4==4.8.2
fake_useragent==0.1.11
h5py==2.10.0
jupyter==1.0.0
Keras==2.3.1
matplotlib==3.0.3
moviepy==1.0.1
mysqlclient==1.4.4
networkx==2.4
numpy==1.18.1
openpyxl==3.0.3
pandas==1.0.0
pillow==7.0.0
pyinstaller==3.6
pymongo==3.10.1
requests==2.22.0
scikit-learn==0.22.1
seaborn==0.10.0
selenium==3.141.0
xlrd==1.2.0
you-get==0.4.1410